@font-face {
	font-family: "Calibri for PREFiX";
	src: local("☺"), url("/fonts/Calibri-B.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
#context-timeline ul li .timestamp {
	height: 15px;
}
[platform="linux"] #context-timeline ul li.protected .timestamp {
	background-position: right 5px !important;
}
[platform="mac"] #context-timeline ul .content .timestamp {
	line-height: 20px;
}
[platform="mac"] #context-timeline ul li.protected .timestamp {
	background-position: right 7px !important;
}
.tweet-list li .timestamp {
	height: 15px;
}
[platform="linux"] .tweet-list li.protected .timestamp {
	background-position: right 4px !important;
}
[platform="mac"] .tweet-list .content .timestamp {
	line-height: 20px;
}
[platform="mac"] .tweet-list li.protected .timestamp {
	background-position: right 7px !important;
}