#context-timeline .close {
	background-image: url('/images/close@2x.png');
	background-size: 32px 32px;
}
#context-timeline ul li .status-content a[href^="https"]::before,
.tweet-list .status-content a[href^="https"]::before {
	content: url('/images/protected@2x.png');
	zoom: .5;
}
#header {
	background-image: url('/images/header-bg@2x.png');
	background-size: 400px 45px;
}
h1 b {
	background-image: url('/images/logo@2x.png');
	background-size: 92px 24px;
}
#back-to-top {
	background-image: url('/images/back-to-top@2x.png');
	background-size: 16px;
	margin-bottom: -9px;
}
#new-window {
	background-image: url('/images/new-window@2x.png');
	background-size: 16px;
}
#navigation-bar li.home-timeline {
	background-image: url('/images/home@2x.png');
	background-size: 24px;
}
#navigation-bar li.mentions {
	background-image: url('/images/mentions@2x.png');
	background-size: 24px;
}
#navigation-bar li.directmsgs {
	background-image: url('/images/directmsgs@2x.png');
	background-size: 24px;
}
#navigation-bar li.privatemsgs {
	background-image: url('/images/privatemsg@2x.png');
	background-size: 24px;
}
#navigation-bar li.saved-searches {
	background-image: url('/images/list@2x.png');
	background-size: 24px;
}
#uploading-photo {
	background-size: 25px 38px;
	background-image: url('/images/uploading-photo@2x.png');
}
.tweet-list li {
	text-shadow: 0 .5px 0 #fff;
}
.tweet-list li:hover {
	background-image: url('/images/tweet-bg@2x.png');
	background-size: 60px;
}
.tweet-list li:hover,
.tweet-list li.current {
	box-shadow: 0 1px 0 rgba(255, 255, 255, .75) inset;
}
.tweet-list li .action-icons .remove {
	background-image: url('/images/remove@2x.png');
	background-size: 36px 68px;
}
.tweet-list li .action-icons .reply {
	background-image: url('/images/reply@2x.png');
	background-size: 36px 68px;
}
.tweet-list li .action-icons .repost {
	background-image: url('/images/repost@2x.png');
	background-size: 36px 102px;
}
.tweet-list li .action-icons .favourite {
	background-image: url('/images/favourite@2x.png');
	background-size: 36px 102px;
}
.tweet-list .avatar {
	border-width: .5px;
}
.tweet-list .context {
	background-image: url('/images/conversation@2x.png');
	background-size: 16px 32px;
}
.tweet-list li.protected .timestamp::after {
	background-image: url('/images/protected@2x.png');
	background-size: 9px 10px;
}
